<%- include("../template/cabecera.ejs", {tituloWeb: 'pagina de inicio' }) %>

<div class="container">
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
        <th scope="col">accion</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayMascotas.length> 0){ %> <% arrayMascotas.forEach(mascota=> {
      %>

        <tr>
            <th scope="row"><%= mascota.id %></th>   
            <td><%= mascota.nombre %></td>
            <td><%= mascota.descripcion %></td>
            <td><%= mascota.id %></td>
        </tr> 

      <% }) %> <% } %>
    </tbody>
  </table>
</div>


<%- include("../template/footer.ejs") %>
