<%- include("../template/cabecera.ejs", {tituloWeb: 'pagina de inicio' }) %>

<div class="container">

  <h1>Formulario</h1>
  <a class="btn btn-success btn-block my-4" type="submit"
  href="/productos/crear">
    Crear un Nuevo Producto
</a>

  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th scope="col">Id del Producto</th>
        <th scope="col">nombre</th>
        <th scope="col">descripcion</th>
        <th scope="col">accion</th>
      </tr>
    </thead>
    <tbody>
      <% if (arrayProductos.length> 0){ %> <% arrayProductos.forEach(producto=> {
      %>

        <tr>
            <th scope="row"><%= producto.id %></th>   
            <td><%= producto.nombre %></td>
            <td><%= producto.descripcion %></td>
            <td><a href="productos/<%= producto.id %>" class="btn btn-warning btn-sm" type="submit">
               Editar
            </a></td>
        </tr> 

      <% }) %> <% } %>
    </tbody>
  </table>
</div>


<%- include("../template/footer.ejs") %>
